<a href="https://colab.research.google.com/github/igt14/IP_week_4/blob/main/Moringa_Data_Science_Prep_W2_Independent_Project_2021_08_Ian_Gathumbi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.0 Importing our libraries

In [3]:
# Importing the pandas library
import pandas as pd
# Importing the numpy library
import numpy as np

## 1.1 Creating our dataframe

In [5]:
# Reading data from the CSV file and creating the dataframe to be used
autolib = pd.read_csv('/content/Autolib_dataset (2).csv')

## 1.2 Exploring our dataframe

In [3]:
# Previewing the first 10 rows of data
autolib.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
# Accessing information about our dataset
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.3 Cleaning our data

In [6]:
# Replacing spaces in the column names with underscores to make our code neater and avoid syntax errors later on
autolib.columns = autolib.columns[:].str.replace(" ", "_")
autolib.columns

Index(['Address', 'Cars', 'Bluecar_counter', 'Utilib_counter',
       'Utilib_1.4_counter', 'Charge_Slots', 'Charging_Status', 'City',
       'Displayed_comment', 'ID', 'Kind', 'Geo_point', 'Postal_code',
       'Public_name', 'Rental_status', 'Scheduled_at', 'Slots', 'Station_type',
       'Status', 'Subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

### 1.3.1 Validity

In [7]:
# Dropping columns as they are not useful in analysis or redundant

# First show all the columns
autolib.columns

# List useless columns
useless = ['Cars', 'Charge_Slots', 'Charging_Status', 'Displayed_comment',
           'Geo_point', 'Public_name', 'Scheduled_at']

# Dropping the columns from the dataframe
autolib = autolib.drop(columns = useless)
autolib.columns

Index(['Address', 'Bluecar_counter', 'Utilib_counter', 'Utilib_1.4_counter',
       'City', 'ID', 'Kind', 'Postal_code', 'Rental_status', 'Slots',
       'Station_type', 'Status', 'Subscription_status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [8]:
# Data cleaning action : Dropping irrelevant rows
# Explanation: There are addresses in our dataset that have no resources whatsoever and therefore can't be used to rent out cars
# For example, if Kind == "CENTER", Rent_status == ["nonexistent", "broken", "future"], Station_type == "subs_center",
# Status == "scheduled" or Subscription_status = "future"

# If Kind == "CENTER"
autolib1 = autolib[autolib['Kind'] != "CENTER"]

In [9]:
# If Rental_status == ["nonexistent", "broken", "future"]
status =  ["nonexistent", "broken", "future"]
for i in status:
  autolib2 = autolib1[autolib1['Rental_status'] != i]

In [10]:
# If Station type == "subs_center"
autolib2[autolib2['Station_type'] == "subs_center"]

# There aren't any because I dropped them at Kind == "CENTER"

Empty DataFrame
Columns: [Address, Bluecar_counter, Utilib_counter, Utilib_1.4_counter, City, ID, Kind, Postal_code, Rental_status, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

In [11]:
# If Status == 'scheduled'
autolib2[autolib2['Status'] == 'scheduled']
 
# Again none cause they were already dropped earlier

Empty DataFrame
Columns: [Address, Bluecar_counter, Utilib_counter, Utilib_1.4_counter, City, ID, Kind, Postal_code, Rental_status, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

In [12]:
# If Subscription status = "future"
autolib2[autolib2['Subscription_status'] == 'future']

# Same as above

Empty DataFrame
Columns: [Address, Bluecar_counter, Utilib_counter, Utilib_1.4_counter, City, ID, Kind, Postal_code, Rental_status, Slots, Station_type, Status, Subscription_status, year, month, day, hour, minute]
Index: []

### 1.3.2 Accuracy

In [13]:
# Confirming that number of Bluecars are not more than 7
(autolib2.Bluecar_counter > 7).any()

False

In [14]:
# Confirming that number of Utilibs are not more than 4
(autolib2.Utilib_counter > 4).any()

False

In [15]:
# Confirming that number of Utilibs 1.4 are not more than 5
autolib2[autolib2['Utilib_1.4_counter'] > 5]['Utilib_1.4_counter'].any()

False

In [16]:
# Confirming that number of Slots are not more than 7
(autolib2.Slots > 7).any()

False

### 1.3.3 Completeness

In [17]:
# Checking if there are any null values
autolib2.isnull().values.any()

False

### 1.3.4 Consistency

In [18]:
# Checking if there are any duplicated values
autolib2.duplicated().any()

False

### 1.3.5 Uniformity

Tried to create a date as a datetime column type but got errors. However, this is only a minor setback since we only require the hour column for analysis and its integer type is of no problem.

In [31]:
# Creating a new column date

# importing datatime module
#import datetime from datetime

# converting year, month, day, hour, minute columns to string
#utolib2.iloc[:, -5:] = autolib2.iloc[:, -5:].astype(str)
#autolib2.info()

# concatenating the year, month, day, hour, minute to make a new column date
#
#autolib2.Date = autolib2.loc[:, 'year'] + '-' + autolib2.loc[:, 'month'] + '-' + autolib2.loc[:, 'day']

# autolib2.Time = autolib2.loc[:, 'hour'] + ':' + autolib2.loc[:, 'minute']
#autolib2.head(10)

## 1.4 Analysis

### 1.4.1 Query 1
Identify the most popular hour of the day for picking up a shared Bluecar

In [19]:
# Creating a dataframe with the columns I will use
bluecar = autolib2[['Bluecar_counter', 'hour']]
bluecar.head()

   Bluecar_counter  hour
0                0    11
1                6     7
2                3    20
3                3     4
4                3    17

In [20]:
# To solve this I summed the vehicles at a certain hour say 2AM and at the next hour say 3AM
# Got the difference between the two to find the change in number of cars.
# If the change was negative it means that cars were pick up between the two hours 
# If the change was positive it means that cars were returned between the two hours 
for i in range(0,23):
  cars = bluecar[bluecar['hour'] == i]['Bluecar_counter'].sum() - bluecar[bluecar['hour'] == i+1]['Bluecar_counter'].sum()
  print(str(i), 'to', str(i + 1), '=', str(cars))

# This is to find the change in cars between 2300 hrs and 0000hrs
cars2 = bluecar[bluecar['hour'] == 23]['Bluecar_counter'].sum() - bluecar[bluecar['hour'] == 0]['Bluecar_counter'].sum()
print(str(23), 'to', str(0), '=', str(cars2))

0 to 1 = -10
1 to 2 = -66
2 to 3 = 10
3 to 4 = 37
4 to 5 = -40
5 to 6 = -56
6 to 7 = 53
7 to 8 = 83
8 to 9 = -43
9 to 10 = 40
10 to 11 = -27
11 to 12 = 11
12 to 13 = -46
13 to 14 = 119
14 to 15 = -31
15 to 16 = -14
16 to 17 = 31
17 to 18 = 5
18 to 19 = 40
19 to 20 = -24
20 to 21 = -92
21 to 22 = 62
22 to 23 = 7
23 to 0 = -49

In [29]:
# creating a dataframe for easy analysis
pick_up = {'Time' : ['00:00 - 01:00', '01:00 - 02:00', '02:00 - 03:00', '03:00 - 04:00', '04:00 - 05:00', 
                     '05:00 - 06:00', '06:00 - 07:00', '07:00 - 08:00', '08:00 - 09:00','09:00 - 10:00',
                     '10:00 - 11:00', '11:00 - 12:00', '12:00 - 13:00', '13:00 - 14:00', '14:00 - 15:00',
                     '15:00 - 16:00', '16:00 - 17:00', '17:00 - 18:00', '18:00 - 19:00', '19:00 - 20:00',
                     '20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00'],
           'Change_in_Bluecars': [-10, -66, 10, 37, -40, -56, 53, 83, 43, 40, -27, -11, -46, 119, -31, -14,
                                  31, 5, 40, -24, -92, 62, 7, -49]
           }
pick_up_df = pd.DataFrame.from_dict(pick_up, orient = 'index')
pick_up_df = pick_up_df.transpose()

# Sorting the change in cars in ascending order to find out which interval had the most cars picked up 
pick_up_df.sort_values(by = ['Change_in_Bluecars'], ascending = True)

             Time Change_in_Bluecars
20  20:00 - 21:00                -92
1   01:00 - 02:00                -66
5   05:00 - 06:00                -56
23  23:00 - 00:00                -49
12  12:00 - 13:00                -46
4   04:00 - 05:00                -40
14  14:00 - 15:00                -31
10  10:00 - 11:00                -27
19  19:00 - 20:00                -24
15  15:00 - 16:00                -14
11  11:00 - 12:00                -11
0   00:00 - 01:00                -10
17  17:00 - 18:00                  5
22  22:00 - 23:00                  7
2   02:00 - 03:00                 10
16  16:00 - 17:00                 31
3   03:00 - 04:00                 37
18  18:00 - 19:00                 40
9   09:00 - 10:00                 40
8   08:00 - 09:00                 43
6   06:00 - 07:00                 53
21  21:00 - 22:00                 62
7   07:00 - 08:00                 83
13  13:00 - 14:00                119

### 1.4.2 Query 2
What is the most popular hour for returning cars?

In [30]:
# Sorting the change in cars in descending order to find out which interval had the most cars returned 
pick_up_df.sort_values(by = ['Change_in_Bluecars'], ascending = False)

             Time Change_in_Bluecars
13  13:00 - 14:00                119
7   07:00 - 08:00                 83
21  21:00 - 22:00                 62
6   06:00 - 07:00                 53
8   08:00 - 09:00                 43
9   09:00 - 10:00                 40
18  18:00 - 19:00                 40
3   03:00 - 04:00                 37
16  16:00 - 17:00                 31
2   02:00 - 03:00                 10
22  22:00 - 23:00                  7
17  17:00 - 18:00                  5
0   00:00 - 01:00                -10
11  11:00 - 12:00                -11
15  15:00 - 16:00                -14
19  19:00 - 20:00                -24
10  10:00 - 11:00                -27
14  14:00 - 15:00                -31
4   04:00 - 05:00                -40
12  12:00 - 13:00                -46
23  23:00 - 00:00                -49
5   05:00 - 06:00                -56
1   01:00 - 02:00                -66
20  20:00 - 21:00                -92

### 1.4.3 Query 3
What station is the most popular?

*   Overall?

*   At the most popular picking hour?

In [76]:
# Overall
autolib2.groupby(by = ['Address']).count()['Bluecar_counter'].nlargest(10)

Address
8 Avenue de la Porte de Montrouge    13
1 Rue de WolfenbÃ¼ttel               11
126 Avenue Philippe Auguste          11
182 Boulevard Voltaire               11
31 boulevard de Grenelle             11
35 rue Mathis                        11
69 Rue de Courcelles                 11
100 rue de la Commune de Paris       10
123 Grande Rue                       10
169 avenue de Flandre                10
Name: Bluecar_counter, dtype: int64